.form-fields {
    margin-bottom: 20px;
}

.table-report th,
.form-fields th {
    background-color: #ccc;
    padding: 4px 10px;
}

.table-report tbody,
.form-fields tbody {
    background-color: white;
}

.table-report tbody tr td,
.form-fields tbody tr td {
    padding: 2px 6px;
    text-align: left;
}


.table-report tbody tr td:last-child{
    text-align:center;
}

.form-fields input.order {
    width: 60px;
}

.msg-btn {
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}

.table-report {
    width: 100%;
    max-width:670px;
}

.documents a{
    display:none;
    margin-left:5px;
}

#table-entries-report tr th:not(:first-child),
#table-entries-report tr td:not(:first-child) {
    width: 100px;
}


#table-summary-report td{
    text-align: left;
}


#table-summary-report td:last-child{
    width: auto;
}

#table-summary-report th{
    text-align: left;
    width: 160px;
}

#container-report h2{
    margin:30px auto 20px;
}


#container-report {
    margin-top: 12px;
}

#list-courses {
    width: 100%;
}

.form-table.filter-table {
    width: auto;
}

.form-table.filter-table th {
    width: 100px;
}

/* CSS spin */
.loading {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.loading:after {
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #646970 transparent #646970 transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

