.form-fields{
    margin-bottom:20px;
}

.form-fields th{
    background-color:#ccc;
    padding:4px 10px;
}

.form-fields tbody{
    background-color: white;
}

.form-fields tbody tr td{
    padding: 2px 6px;
    text-align: center;
}

.form-fields tbody tr td:nth-child(2),
.form-fields tbody tr td:nth-child(4){
    text-align: left;
}

.form-fields input.order{
    width: 60px;
}

.msg-btn {
    margin-top: 5px;
    margin-left: 5px;
    display: inline-block;
}

/* CSS spin */
.loading {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.loading:after {
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: #646970 transparent #646970 transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

